<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#">
    <meta name="robots" content="index,follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="stylesheet" href="/static/c3queue.css" type="text/css" />
    <title>c3queue &mdash; Please hold the line</title>
</head>
<body>
    <header>
        <img src="/static/img/titel{{ [0,1,2,3,4,5,6,7,8,9,10,11,12]|random }}.png">
    </header>
    <main>
        <div id="explanation">
            <div class="inner">
                Last known waiting time: {{ last_ping.duration }} minutes on Day {{ last_ping.day - 26 }}, {{ last_ping.pong.hour }}:{{ last_ping.pong.minute }} ({{ last_ping.year - 1983 }}C3).
            </div>
        </div>
        <div id="c3q">
            {% for chart in charts %}
                {{ chart|safe }}
            {% endfor %}
        </div>
        <div id="explanation">
            <div class="inner">
                You can download the <a href="/data">raw data</a> here.
            </div>
        </div>
    </main>
</body>
</html>
