<!DOCTYPE html>
<html lang="en">
<head>
    <title>c3queue &mdash; Please hold the line</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#">
    <meta name="robots" content="index,follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="stylesheet" href="/static/c3queue.css" type="text/css" />
</head>
<body>
    <header>
        <img src="/static/img/titel0.png">
    </header>
    <main>
        <div id="explanation">
            <div class="inner">
                This is how long the queue at the entrance of 35C3 currently takes.<br>
                You can download the <a href="/data">raw data</a>.
            </div>
        </div>
    </main>
</body>
</html>
