body {
  background: black;
  color: white;
}
a {
  border: 2px solid #00bb31;
  color: #00bb31;
  text-decoration: none;
}
header {
  text-align: center;
}
header img {
  max-width: 100%;
  max-height: 200px;
  width: 800px;
}
form#event-filter {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 24px;
  font-family: monospace;
  font-size: 20px;
}

form#event-filter input[type="checkbox"] {
  display: none;
}
form#event-filter input[type="checkbox"] + label {
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  position: relative;
}
form#event-filter input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 3px solid var(--color);
  background: black;
  vertical-align: middle;
}
form#event-filter input[type="checkbox"]:checked + label:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 12px;
  margin-left: 4px;
  border: solid #00bb31;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  vertical-align: middle;
  position: absolute;
  left: 11px;
  top: 8px;
}

main #explanation {
  font-family:
    Open Sans,
    sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 16px;
}
main #explanation .inner {
  color: #d0d0ce;
  position: relative;
  display: inline-block; /*required*/
}
#c3q svg .tooltip text.x_label {
  font-size: 0.8em;
}
#c3q svg .tooltip text.legend,
#c3q svg .tooltip text.x_label,
#c3q svg .tooltip text.value {
  font-size: 10px !important;
}
.hidden {
  display: none;
}
